---
layout: default
---

<div class="home">

  <!--<h1 class="page-heading">Posts</h1>-->

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <span class="post-meta"><i class="icon icon-clock"></i>{{ post.date | date: "%b %d, %Y" }}</span>
        {% if post.tags.size > 0 %}
        <span class="tag">
          <i class="icon icon-tag"></i>
          {% for tag in post.tags %}<a href="{{ BASE_PATH }}{{ site.tags_path }}#{{ tag }}">{{ tag }}</a>{% if forloop.last %}{% else %}, {% endif %}{% endfor %}
        </span>
        {% endif %}

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <div class="digest">{{ post.content  | split:'<!--more-->' | first}} </div>
        <a href="{{ post.url | prepend: site.baseurl }}" class="more">Read more...</a>
      </li>
    {% endfor %}
  </ul>
  {% include pagination.html %}

</div>
