---
layout: default
---

<ul class="tags">
	{% for tag in site.tags %}
	<li><a href="#{{ tag[0] }}"><strong>{{ tag[0] }}</strong><span>{{ tag[1].size }}</span></a></li>
	{% endfor %}
</ul>
<ul class="tag-list">
	{% for tag in site.tags %}

	<li>
		<a name="{{ tag[0] }}"></a>
		<h3><i class="glyphicon glyphicon-tag"></i>{{ tag[0] }}</h3>
		<ul class="tag-list2">
		{% for list in tag[1] %}

		<li><span>{{ list.date | date:"%F" }}</span><a href="{{ list.url | prepend: site.baseurl }}">{{ list.title }}</a></li>
		{% endfor %}
	</ul>
	</li>
	{% endfor %}
</ul>
