<footer class="site-footer">
  <div class="wrapper">
    

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-3 copy">&copy; 2014 {{ site.title }}'s <strong>Blog</strong></div>

      <div class="footer-col footer-col-4 link">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            <a href="https://github.com/{{ site.github_username }}">
              <span class="icon  icon-github2">
              </span>
            </a>
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            <a href="https://twitter.com/{{ site.twitter_username }}">
              <span class="icon  icon-twitter">
              </span>
            </a>
          </li>
          {% endif %}

{% if site.facebook_username %}
          <li>
            <a href="https://www.facebook.com/profile.php?id=100003542707571">
              <span class="icon  icon-facebook">
              </span>
            </a>
          </li>
{% endif %}

          {% if site.qq %}
          <li>
            <a href="http://wpa.qq.com/msgrd?v=3&uin={{ site.qq }}}&site=qq&menu=yes">
              <span class="icon  icon-qq">
              </span>
            </a>
          </li>
{% endif %}

{% if site.skype_username %}
          <li>
            <a href="callto://{{ site.skapy_username }}">
              <span class="icon  icon-skype">
              </span>
            </a>
          </li>
{% endif %}

          <li class="rss-subscribe">
            <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
              <span class="icon  icon-feed">
              </span>
            </a>
          </li>

        </ul>
      </div>
    </div>

  </div>

</footer>
