<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <!--<link href='//fonts.useso.com/css?family=Abel|Open+Sans' rel='stylesheet'>-->
	<link rel="stylesheet" href="/css/icomoon.css">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  <link href="{{ site.url }}/favicon.ico" rel="shortcut icon">
  <link href="{{ site.url }}/favicon.ico" rel="bookmark">
  <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?88b57c3ee2157f5c6a9bd5eec77a851f";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="/js/jquery.simpleWeather.min.js"></script>
<script>
  $(document).ready(function() {

    //$.get('http://api.hostip.info/get_json.php',function(data){
      $.get('http://ip-api.com/json',function(data){
      var local = data.city || data.country;
      //var h = $('<input id="local" value="'+ remote_ip_info.city +'" />');
      //var local = h.toPinyin();
      //console.log(data)
      loadWeather(local,''); //@params location, woeid
    });
    color();

    $('header  nav .menu-icon').click(function(){
      $(this).parent().toggleClass('active');
    });
});

function loadWeather(location, woeid) {
  $.simpleWeather({
    location: location,
    woeid: woeid,
    unit: 'c',
    success: function(weather) {
      html = '<i class="wicon-'+weather.code+'"></i>';
      html += '<span class="ssd">'+weather.city+'&nbsp;<strong>'+weather.temp+'&deg;'+weather.units.temp+'</strong>&nbsp;'+weather.currently+'</span>';
      //html = '<span><i class="icon-'+weather.code+'"></i> '+weather.temp+'&deg;'+weather.units.temp+'</span>';
      //html += '<ul><li>'+weather.city+', '+weather.region+'</li>';
      //html += '<li class="currently">'+weather.currently+'</li>';
      //html += '<li>'+weather.alt.temp+'&deg;C</li></ul>';  
      
      $("#weather").html(html);
    },
    error: function(error) {
      //console.log(error)
      //$("#weather").html('<span>'+message.error+'</span>');
    }
  });
}

function color(){
  var color = ['aaa', '999','888','777','666','555','444','333','222','111', '000'],
  data = [], min, max;
  $('.tags li').each(function(i){
    data.push($(this).find('span').text())
  });
  min = Math.min.apply(null, data);
  max = Math.max.apply(null, data);
  $('.tags li').each(function(i){
    var r = ((parseInt($(this).find('span').text(), 10) - min) / (max - min)).toFixed(1) * 10;
    $(this).find('strong').css('background-color', '#' + color[r]);
  });
}
</script>

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
