<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}'s <strong>Blog</strong></a>
    <span id="weather"></span>

    <nav class="site-nav">
      <a href="#" class="menu-icon">
        <i class="icon icon-menu"></i>
      </a>

      <div class="trigger">
        <a class="page-link nav-index" href="/index.html">Blog</a>
        <a class="page-link nav-tag" href="/tag.html">Tags</a>
        <a class="page-link nav-archive" href="/archive.html">Archive</a>
        <a class="page-link nav-about" href="/about.html">About</a>
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}

      </div>
    </nav>

  </div>

</header>
