{% if paginator.total_pages > 1 %}
	<ul class="pagination">
		{% if paginator.previous_page %}
		<li class="prev">
			{% if paginator.previous_page == 1 %}<a href="/" class="icon icon-chevron-left"></a>
			{% else %}<a href="/page{{ paginator.previous_page }}" class="icon icon-chevron-left"></a>
			{% endif %}
		</li>
		{% else %}
		<li class="prev disabled"><a class="icon icon-chevron-left"></a></li>
		{% endif %}
		{% if paginator.total_pages >= 2 %}
		{% if paginator.page == 1 %}<li class="disabled"><a>1</a></li>
		{% else %}<li><a href="/">1</a></li>
		{% endif %}
		{% for count in (2..paginator.total_pages) %}
		{% if paginator.page == count %}<li class="disabled current"><a>{{ count }}</a></li>
		{% else %}<li><a href="/page{{ count }}">{{ count }}</a></li>
		{% endif %}
		{% endfor %}
		{% endif %}
		{% if paginator.next_page %}
		<li class="next"><a href="/page{{ paginator.next_page }}" class="icon icon-chevron-right"></a></li>
		{% else %}
		<li class="next disabled"><a class="icon icon-chevron-left"></a></li>
		{% endif %}
	</ul>
	{% endif %}