/**
 * Site header
 */
.site-header {
    //border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;
    background-color: #fafafa;
    background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    // Positioning context for the mobile navigation icon
    position: relative;
    text-shadow: 0 1px 0 #fff;
    color:#666;
}

.site-title {
    font-size: 1.6rem;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    text-decoration: none;
    
    font-family: "open sans",sans-serif;
    &,
    &:visited {
        color: $grey-color-dark;
    }
    &:hover {
        text-decoration: none;
    }
    strong {
        font-family: sans-serif;
        color:#333;
        font-weight: bold;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: lighten($text-color, 40%);
        font-size:1.2rem;
        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
        margin-left:20px\0;
        &:first-child {
            margin-left:0;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 5px;
            text-align: center;
            color:#666;
            font-size:1.4rem;
            text-decoration: none;
            font-weight:bold;
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    //padding: $spacing-unit / 2 0;
    background-color:#f8f8f8;
    .copy {
        color: #797979;
        margin-top:25px;
        strong {
            //color:#333;
        }
    }
    .link {
        float: right;
        li {

        }
        a:hover {
            text-decoration: none;
            .icon {
                color:$brand-color;
            }
        }
        .icon {
            display:inline-block;
            width:30px;
            height:30px;
            line-height:30px;
            text-align: center;
            border-radius: 50%;
            //background-color: #333;
            font-size:1.2rem;
            color:#999;
        }
        .icon-twitter {
            font-size:1.5rem;
        }
        .icon-skype {
            font-size:1.4rem;
        }
        .icon-feed {
            font-size:1.1rem;
        }


    }
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
    > li {
        float:left;
        margin-left:10px;
        font-size:1.2rem;
    }
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
    table {
        width:100%;
        border:1px solid #efefef;
        th {
            font-weight:bold;
        }
        th,td {
            border:1px solid #efefef;
            padding:5px 10px;
        }
    }
    //font-family: 微软雅黑;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    padding-left:0;
    list-style: none;
    h2 {
        margin-top:5px;
        margin-bottom:10px;
        padding-top:0;
        line-height:1;
        a {
            color:#333;
        }
    }
    > li {
        margin-bottom: $spacing-unit;
        border-bottom:1px solid #efefef;
        padding-bottom:20px;
        &:last-child {
            border-bottom:0;
        }
    }
    .digest {
        line-height:1.5;
        font-size:.8rem;
        p {
            margin:0 0 10px;
        }
    }
    .icon {
        font-size:.8rem;
    }
    .tag {
        font-size:.8rem;
    }
    .more {
        font-size:1rem;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

h2 {
    //display: block;
    font-size: 1.8rem;
    color:#333!important;
    font-weight:bold;
}
h3 {
    //display: block;
    font-size: 1.6rem;
    color:#333!important;
    font-weight:bold;
}


.post-meta {
    //line-height:30px;
    i {
        margin-right:5px;
        color:#999;
    }
    
}


.tag {
    margin-left:10px;
    //float:right;
    font-size:1rem;
    i {
        font-size:1.2rem;
        color:#999;
    }
    a {
        color:#7e7e7e;
    }
}
.tags {
    overflow:hidden;
    margin:0 -10px;
    margin-bottom:40px;
    padding-left:0;
    font-size:.8rem;
    li {
        list-style: none;
        float:left;
        margin:5px 10px;
        overflow:hidden;
        border-radius: 5px;
        strong,span {
            display:block;
            height:25px;
            line-height:25px;
            float:left;
        }
        strong {
            padding:0 10px;
            background-color: #333;
            color:#fff;
            font-weight: normal;
        }
        span {
            padding:0 10px;
            background-color: #ccc;
            color:#333;
        }
    }
}

.tag-list {
    margin:0;
    padding-left:0;
    font-size:1rem;
    > li {
        margin:20px 0 40px 0;
        list-style:none;
        h3 {
            i {
                font-size:1.2rem;
                color:#ccc;
                margin-right:5px;
                //vertical-align: middle;
            }
        }
        .tag-list2 {
            li {
                margin: 10px 0;
                list-style-type: disc;
                span {
                    color:#999;
                    margin-right:10px;
                }
                a {
                    color:#333;
                }
            }
        }
    }
}


/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;
    font-size:1rem;
    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
    p {
        font-size:1rem;
        line-height:1.5;
    }
}

.pagination {
    li {
        a {
            color:#333;
            &:hover {
                color:#333;
            }
        }
    }
    .disabled {
        color:#ccc;
        cursor:default;
        a {
            color:#ccc;
            &:hover {
                color:#ccc;
            }
        }
    }
    .current {
        a {
            background-color: #333;
            color:#fff;
        }
    }

}

.info-date,.info-tag {
    margin-right:10px;
}

.about {
    position:relative;
    text-align: center;
    .face {
        margin:20px 0;
        img {
            max-width:100px;
            border-radius: 50%;
            padding:10px;
            box-shadow: 0 0 10px #f8f8f8;
                -moz-transition: -moz-transform 0.3s ease;
                -o-transition: -o-transform 0.3s ease;
                -webkit-transition: -webkit-transform 0.3s ease;
                transition: transform 0.3s ease;
            &:hover {
                -moz-transform: scale(1.1);
                -ms-transform: scale(1.1);
                -webkit-transform: scale(1.1);
                transform: scale(1.1);
            }
        }
    }
    .info {
        text-align: center;
        dt {
            color:#999;
            font-weight:bold;
            font-size:1.2rem;
            margin:20px 0 10px 0;
            font-family: abel,sans-serif;
            .icon {
                font-size:1.6rem;
            }
        }
        dd {
            margin:0;
            font-size:1.6rem;
            color:#333;
            margin-bottom:40px;
        }
        .x {
            font-family: "open sans",sans-serif;
            color:#333;
        }
        .c {
            font-weight:bold;
            color:#000;
        }
    }
}
.m-box {
    height:0px;
    overflow:hidden;
    position: relative;
    .reset-location {
        width:30px;
        height:30px;
        text-align: center;
        line-height: 30px;
        position: absolute;
        z-index:2;
        right:20px;
        top:20px;
        background-color: #fff;
        border-radius: 3px;
        border:1px solid #efefef;
        color:#666;
        cursor: pointer;
        &:hover {
            color:$brand-color;
        }
        .icon {
            font-size:1rem;
        }
    }
}
.map {
    border-radius: 10px;
    width:100%;
    height:280px;
    //display: none;
    opacity: 0;
    //position:absolute;
    //top:100px;
    //left:50%;
    //margin-left:100px;
    //border:1px solid #ccc;
    margin:0 auto;
    z-index:1;
    img {
        max-width:none;
    }
    .anchorBL, .BMap_cpyCtrl {
        display: none;
    }
}

.live {
    -moz-transition: height 0.3s ease;
    -o-transition: height 0.3s ease;
    -webkit-transition: height 0.3s ease;
    transition: height 0.3s ease;
}
.live:hover {
    .map {
        display:block;
        opacity: 1;
    }
    .m-box {
        height:280px;
    }
}
