/**
 * Site header
 */
.site-header {
    //border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;
    background-color: #fafafa;
    background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    // Positioning context for the mobile navigation icon
    position: relative;
    text-shadow: 0 1px 0 #fff;
    color:#666;
}

.site-title {
    font-size: 2.2rem;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    text-decoration: none;
    font-weight: bold;

    &,
    &:visited {
        color: $grey-color-dark;
    }
    &:hover {
        text-decoration: none;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: lighten($text-color, 40%);
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit / 2 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
    > li {
        float:left;
        margin-left:10px;
        font-size:1.2rem;
    }
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

.copy {
    color: #797979;
}
.link {
    float: right;
}

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    padding-left:0;
    list-style: none;
    h2 {
        margin-top:0;
        padding-top:0;
        line-height:1;
    }
    > li {
        margin-bottom: $spacing-unit;
        border-bottom:1px solid #efefef;
        padding-bottom:20px;
        &:last-child {
            border-bottom:0;
        }
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    //display: block;
    font-size: 24px;
    color:#333!important;
    font-weight:bold;
}

.post-meta {
    //line-height:30px;
    i {
        margin-right:5px;
        color:#999;
    }
    
}


.tag {
    margin-left:10px;
    //float:right;
    i {
        font-size:1.2rem;
        color:#999;
    }
    a {
        color:#7e7e7e;
    }
}
.tags {
    overflow:hidden;
    margin:0 -10px;
    margin-bottom:40px;
    padding-left:0;
    li {
        list-style: none;
        float:left;
        margin:5px 10px;
        overflow:hidden;
        border-radius: 5px;
        strong,span {
            display:block;
            height:25px;
            line-height:25px;
            float:left;
        }
        strong {
            padding:0 10px;
            background-color: #333;
            color:#fff;
            font-weight: normal;
        }
        span {
            padding:0 10px;
            background-color: #ccc;
            color:#333;
        }
    }
}

.tag-list {
    margin:0;
    padding-left:0;
    > li {
        margin:20px 0 40px 0;
        list-style:none;
        .tag-list2 {
            li {
                margin: 10px 0;
                list-style-type: disc;
                span {
                    color:#999;
                    margin-right:10px;
                }
                a {
                    color:#333;
                }
            }
        }
    }
}


/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.pagination {
    li {
        a {
            color:#333;
            &:hover {
                color:#333;
            }
        }
    }
    .disabled {
        color:#ccc;
        cursor:default;
        a {
            color:#ccc;
            &:hover {
                color:#ccc;
            }
        }
    }
    .current {
        a {
            background-color: #333;
            color:#fff;
        }
    }

}

.info-date,.info-tag {
    margin-right:10px;
}
