<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
</head>
<body>
  <header>
    <div class="logo">
      <a href="/">Haizhou Chen</a>
    </div>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="">List</a></li>
        <li><a href="">Tag</a></li>
        <li><a href="">About</a></li>
      </ul>
    </nav>
  </header>
  <section>
     {{ content }}
  </section>
  <footer>
    Copyright &copy; 2014 Haizhou Chen.
  </footer>
</body>
</html>
